<div class='my-profile-page'>
  <aside class='my-profile-page__backlink'>
    <span>
      <img src='/assets/back-arrow.png' width='12' />
    </span>
  </aside>
  <div class='my-profile-page__profile'>
    <div class='my-profile-page__avatar'>
      <h3>
        Evgeny
      </h3>
    </div>
    <form class='my-profile-page__form'>
      <div class='my-profile-page__row'>
        <span>
          Email
        </span>
        <input type='text' name='email' />
      </div>
      <div class='my-profile-page__row'>
        <span>
          Login
        </span>
        <input type='text' name='login'>
      </div>
      <div class='my-profile-page__row'>
        <span>
          Display name
        </span>
        <input type='text' name='display_name'>
      </div>
      <span class='my-profile-page__row'>
        <span>
          Name
        </span>
        <input type='text' name='first_name' />
      </span>
      <div class='my-profile-page__row'>
        <span>
          Last name
        </span>
        <input type='text' name='second_name' />
      </div>
      <div class='my-profile-page__row'>
        <span>
          Phone number
        </span>
        <input type='text' name='phone' />
      </div>
      <div class='my-profile-page__actions'>
        {{>baseButton text="Save"}}
      </div>
    </form>
  </div>
</div>
