<div class='sign-in-page-root'>
  <div class='sign-in-page-container'>
    <div class='sign-in-page-container__form'>
      <h1 class='sign-in-page-container__form_title'>
        Welcome back!
      </h1>
      <div class='sign-in-page-container__form_content'>
        <div>
          <label for='signUpUsername' class='base-input-label'>Username</label>
          <input id='signUpUsername' name='username' class='base-input-root' />
        </div>
        <div>
          <label for='signUpPassword' class='base-input-label'>Password</label>
          <input
            id='signUpPassword'
            type='password'
            name='password'
            class='base-input-root'
          />
        </div>
          {{>baseButton text="Sign In"}}
        <div>
          Do not have an account?
          <a>Sign up.</a>
        </div>
      </div>
    </div>
  </div>
</div>