<div class='sign-in-page-container'>
  <div class='sign-in-page-container__description'>
    <h1>
      Web Chat
    </h1>
    <p class='sign-in-page-container__description_text'>
      Share ideas, debate thoughts, or simply catch up on casual conversation.
    </p>
    <button>Sign in</button>
  </div>
  <div class='sign-in-page-container__form'>
    <h1 class='sign-in-page-container__form_title'>
      Sign up
    </h1>
    <div class='sign-in-page-container__form_content'>
      <div>
        <label for='signInEmail' class='base-input-label'>Email</label>
        <input
          id='signInEmail'
          name='email'
          type='email'
          class='base-input-root'
        />
      </div>
      <div>
        <label for='signInUsername' class='base-input-label'>Username</label>
        <input id='signInUsername' name='username' class='base-input-root' />
      </div>
      <div>
        <label for='signInFirstname' class='base-input-label'>Firstname</label>
        <input id='signInFirstname' name='firstname' class='base-input-root' />
      </div>
      <div>
        <label for='signInSurname' class='base-input-label'>Surname</label>
        <input id='signInSurname' name='surname' class='base-input-root' />
      </div>
      <div>
        <label for='signInPhoneNumber' class='base-input-label'>Phone number</label>
        <input
          id='signInPhoneNumber'
          name='phoneNumber'
          class='base-input-root'
        />
      </div>
      <div>
        <label for='signInPassword' class='base-input-label'>Password</label>
        <input
          id='signInPassword'
          type='password'
          name='password'
          class='base-input-root'
        />
      </div>
      <div>
        <label for='signInConfirmPassword' class='base-input-label'>Confirm
          password</label>
        <input
          id='signInConfirmPassword'
          type='password'
          name='confirmPassword'
          class='base-input-root'
        />
      </div>
      <button>Sign up</button>
      <div>
        Already have an account?
        <a>Sign in.</a>
      </div>
    </div>
  </div>
</div>